html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]{
    font-family: 'Open Sans', sans-serif;
}

html{

background-image: url("bckgmain.png");
background-position: center;
 background-repeat: repeat-y;
  background-size: cover;
    overflow-y: scroll;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
}

header > .home-menu{
    background: inherit !important;
    height: 54px;
    display: flex;
}

header > .home-menu > a.pure-menu-heading, header > .home-menu > ul, header > .home-menu > ul > li{
    display: flex !important;
    align-items: center;
    justify-content: center;
    line-height: normal !important;
}

header > .home-menu > a.pure-menu-heading{
    color: white;
    font-size: 1.5em;
}

header > .home-menu > ul > li > a{
    color: #ced4d9;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li > a:focus{
    background: inherit !important;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li.pure-menu-selected > a{
    color: white;
}

main{
    background-color: #838383;
    position: relative;
}

footer{
    text-align: center;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 0.8em;
    padding: 15px;
    line-height: 24px;
}

footer a{
    color: #fff;
    text-decoration: none;
}

footer iframe{
    vertical-align: middle;
}
